* {
  box-sizing: border-box;
}
@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
html {
  height: 100%;
}
#root {
  height: 100%;
}
body {
  background: linear-gradient(180deg, #373d6a 27.6%, #212544 100%);
  height: 100%;
}
.table-wrapper {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.table {
  position: relative;
  width: 80%;
  aspect-ratio: 1/2;
  max-width: 350px;
  background: #2b3058;
  border-radius: 165px;
  box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.table::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 165px;
  background: linear-gradient(180deg, #212544 0%, #353a66 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.inner-table {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    171.9deg,
    rgba(64, 71, 123, 0.68) 5.98%,
    rgba(48, 54, 98, 0.99) 77.8%
  );
  border-radius: 145px;
}
.card {
  position: relative;
  width: 27px;
  height: 38px;
  background: #464e87;
  border-radius: 5px;
  animation: append-animate 0.3s linear;
}
.suit {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 18px;
  line-height: 15px;
}
.rank {
  position: absolute;
  color: white;
  font-family: "Ponjoung", sans-serif;
  top: 4px;
  left: 4px;
  font-size: 14px;
  line-height: 15px;
}
.dealer-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  width: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}
.hand {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-flow: row;
  gap: 5px;
}
.bet {
  width: 40px;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 112px;
  font-size: 12px;
  color: white;
  font-family: "Ponjoung", sans-serif;
  text-align: center;
  vertical-align: middle;
}
.player-bet {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, 0);
}
